<link rel="stylesheet" href="css/login.css?v=0">
<form name="formLogin">
    <div class="container">
        <div class="login">
            <h1>TaskTrack</h1>           
            <input type="text" id="inpUserName" class="form-control" placeholder="User Name" ng-model="login.name" required autofocus="">
           
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="login.password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" ng-model="login.rememberme"> Remember me
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" ng-click="formLogin.$valid && doLogin(login)" value=" Sign in" />
               
            
           
        </div>
    </div>
</form>
