<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create User
            </div>
            <div class="panel-body">
                <form name="formUser">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>User Name</h4>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="user.name" required autofocus="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Password</h4>
                        </div>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" ng-model="user.password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Group</h4>
                        </div>
                        <div class="col-sm-6">
                            <select select-user-type name="type_id" ng-model="user.type_id" ng-options="option.value for option in options track by option.key"></select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input class="btn btn-default" type="submit" ng-click="formUser.$valid && createuser(user)" value=" Create" />

                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-default" href="#user">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>