<div class="row">
    <div class="col-sm-9">
        <nav class="navbar ">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="btn btn-default" href="#user/create" role="button">Create</a></li>
                <li><a class="btn btn-default" ng-click="delete()" role="button" ng-show="selected">Delete</a></li>
            </ul>

        </nav>
        <div class="row bot10">
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchtext" required autofocus="">
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-1 text-center"><input type="checkbox" ng-model="checkall" ng-click="tooglecheckall(checkall)"></th>
                    <th class="col-md-8">Name</th>
                    <th class="col-md-3">Group</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users  | filter:searchtext">
                    <td class="col-md-1 text-center">
                        <input type="checkbox" ng-model="user.selected" ng-click="tooglecheck()">
                    </td>
                    <td class="col-md-8">
                        <a href="#useredit/{{user.id}}">
                            {{user.name}}
                        </a>
                    </td>
                    <td class="col-md-3">{{user.group}}</td>
                </tr>

            </tbody>
        </table>

    </div>

</div>

