<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create User
            </div>
            <div class="panel-body">
                <form name="formUser">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>User Name</h4>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="user.name" required autofocus="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Password</h4>
                        </div>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" ng-model="user.password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Group</h4>
                        </div>
                        <div class="col-sm-6">
                            <select ng-model="user.group_id">
                                <option ng-repeat="usergroup in usergroups" value="{{usergroup.id}}">{{usergroup.name}}</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input class="btn btn-default form-control" type="submit" ng-click="formUser.$valid && createuser(user)" value="{{formtype}}" />

                        </div>
                        <div class="col-sm-4">
                            <a class="btn btn-default form-control" href="#user">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>